
.container
    .row
        .page-header.clearfix
            h2= title
            .col-md-10
                .large Auto Sales System
            .col-md-1
                laber User: #{userType}
            .col-md-0
                a#signup(href='http://localhost:3000/signin') Sign out